
body {
    font-family: monospace;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* user-select: none; */
}

#text-h1 {
    width: 800px;
    font-size: 12px;
    outline: dotted;
    outline-color: #61dafb;
    padding: 10px;
    text-align: center;
}

#text {
    font-size: 18px;
    margin-bottom: 20px;
    /* user-select: none; */
}

#input-text {
    padding: 10px;
    font-size: 16px;
    width: 300px; 
    height: 40px; 
    border: 2px solid #61dafb;
    background-color: #282c34;
    color: white;
    outline: none;
    user-select: none;
}

#input-text::placeholder {
    color: #61dafb;
    user-select: none;
}

#time {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #61dafb;
    user-select: none;
}

#Symbol {
    font-size: 20px;
    font-weight: bold;
    color: #61dafb;
    margin-bottom: 20px;
    animation: pulse 1s infinite;
    user-select: none;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}


@keyframes typing {
    from { width: 0; }
    to { width: 30%; }
    
}

#input-text {
    animation: typing 1s steps(40, end) forwards; 
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}
